body>section {text-align: center;}
body>section>div {
  display: inline-block;
  margin: 1rem auto;
  text-align: initial;
}
#game {
  border: 1px solid black;
  font-family: 1rem;
  font-family: monospace;
  line-height: 1rem;
  min-height: 25ch;
  min-width: 25ch;
  padding: 1ch;
}
span[contenteditable][data-gen-attr] {
  background-color: rgba(95,168,150,.6);
  font-size: 1.125rem;
  padding:.25rem;
  text-decoration: underline;
}